﻿@model ProgettoSettimanale_entity_backend.Models.Clienti

@{
    ViewBag.Title = "EditCliente";
}

<h2>Registra le tue informazioni personali</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal d-flex p-2 justify-content-center border border-2 align-items-center flex-column rounded-3">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cognome, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cognome, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                    @Html.ValidationMessageFor(model => model.Cognome, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Indirizzo, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Indirizzo, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                    @Html.ValidationMessageFor(model => model.Indirizzo, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aggiungi" class="btn btn-primary mt-3" />
            </div>
        </div>
    </div>
}