﻿@model ProgettoSettimanale_entity_backend.Models.Utenti
@{
    ViewBag.Title = "Register";
}

<h2 class="p-3 mx-auto text-center text-primary">Registrati</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal mx-auto d-flex p-2 justify-content-center border border-2 align-items-center flex-column rounded-3">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class=" mb-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Ruolo, htmlAttributes: new { @class = "" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ruolo, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                        @Html.ValidationMessageFor(model => model.Ruolo, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-info" />
            </div>
        </div>
    </div>
}