﻿@model ProgettoSettimanale_entity_backend.Models.Ordini
@{
    ViewBag.Title = "EditOrdine";
}

<h2 class="text-center text-primary mx-auto">Modifica ordine</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal mx-auto d-flex p-2 justify-content-center align-items-center flex-column rounded-3">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DataConsegna, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataConsegna, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                @Html.ValidationMessageFor(model => model.DataConsegna, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Allergie, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Allergie, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                @Html.ValidationMessageFor(model => model.Allergie, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Evaso, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Evaso, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                @Html.ValidationMessageFor(model => model.Evaso, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NoteAggiunzione, htmlAttributes: new { @class = "" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoteAggiunzione, new { htmlAttributes = new { @class = "me-2 rounded-3" } })
                @Html.ValidationMessageFor(model => model.NoteAggiunzione, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modifica" class="btn btn-primary" />
            </div>
        </div>
    </div>
}